# Salida de build
dist/

# Tipos generados y cachés locales
.astro/
.vscode/
.idea/

# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.production

# Archivos específicos de macOS
.DS_Store

# Configuración local de Vercel (evitar conflictos)
.vercel/
